In [1]:
import pandas as pd
import string
import requests
import os

In [2]:
file_name = '/Users/caged/Desktop/Mining the disclosures/RSN-MiningDisclosures15-Universe_2-4.csv'
exclude = set(string.punctuation)
def clean_names(sub):
    sub['name'] = sub['Company Name'].str.upper()
    sub['name_clean'] = sub.name.apply(lambda s: ''.join(ch for ch in s if ch not in exclude))
    sub['exchange'] = sub['Ticker Symbol'].str.split(':').str[0]
    sub['ticker'] = sub['Ticker Symbol'].str.split(':').str[1]
    return sub
tickers = pd.read_csv(file_name, usecols=['Company Name', 'Ticker Symbol'], dtype='str')
tickers = clean_names(tickers)
tickers = tickers.dropna()
tickers.head()

,Company Name,Ticker Symbol,name,name_clean,exchange,ticker
0,3D SYSTEMS CORP,NYSE:DDD,3D SYSTEMS CORP,3D SYSTEMS CORP,NYSE,DDD
1,3M Co.,NYSE:MMM,3M CO.,3M CO,NYSE,MMM
2,"A10 Networks, Inc.",NYSE:ATEN,"A10 NETWORKS, INC.",A10 NETWORKS INC,NYSE,ATEN
3,AAON INC,NasdaqGS:AAON,AAON INC,AAON INC,NasdaqGS,AAON
4,AAR CORP,NYSE:AIR,AAR CORP,AAR CORP,NYSE,AIR

In [3]:
tickers.count()

Company Name     2581
Ticker Symbol    2581
name             2581
name_clean       2581
exchange         2581
ticker           2581
dtype: int64

In [4]:
unique_tickers = tickers.ticker.unique()
len(unique_tickers)

2519

In [28]:
def look_up_company_by_tickers(list_of_tickers):
    url = "http://edgaronline.api.mashery.com/v2/companies"
    params = {
        'appkey': os.environ.get('EDGAR_KEY'),
        'primarysymbols': ','.join(list_of_tickers),
    }
    response = requests.get(url=url, params=params)
    return response

In [25]:
# sample_1 = unique_tickers[0:50]
# sample_2 = unique_tickers[50:100]
list_of_tickers = []
for x in range(250):
    tickers = unique_tickers[x*10: (x+1)*10]
    list_of_tickers.append(tickers)
len(list_of_tickers)

250

In [9]:
## EXPENSIVE - DO NOT RUN UNLESS YOU HAVE TO!!!

#good_responses = {}
#bad_responses = {}
#for i, tickers in enumerate(list_of_tickers):
#    print(i)
#    response = look_up_company_by_tickers(tickers)
#    if response.status_code == 200:
#        good_responses[i] = response
#    else:
#        bad_responses[i] = response

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249

In [12]:
len(good_responses)

66

In [16]:
cleaned_ciks = pd.DataFrame()
for i, response in good_responses.items():
    if response.status_code == 200:
        for row in response.json()['result']['rows']:
            fields = {}
            for field in row['values']:
                fields[field['field']] = field['value']
            cleaned_ciks = pd.concat([cleaned_ciks, pd.DataFrame([fields])], ignore_index=True)
cleaned_ciks.tail()

,cik,companyname,entityid,primaryexchange,primarysymbol,siccode,sicdescription
554,0001082554,UNITED THERAPEUTICS CORP,5683,Nasdaq Global Market,UTHR,2834,Pharmaceutical Preparations
555,0001111335,VISTEON CORP,75297,NYSE,VC,3714,Motor Vehicle Parts and Accessories
556,0001129260,"VOCERA COMMUNICATIONS, INC.",113414,NYSE,VCRA,3669,"Communications Equipment, Not Elsewhere Classi..."
557,0000839923,VODAFONE GROUP PUBLIC LTD CO,6799,Nasdaq Global Market,VOD,4812,Radiotelephone Communications
558,0001487952,"VISHAY PRECISION GROUP, INC.",824763,NYSE,VPG,3670,Electronic Components And Accessories

In [17]:
cleaned_ciks.to_csv('clean_ciks_good.csv')

In [18]:
bad_responses.keys()

dict_keys([2, 11, 19, 22, 34, 41, 44, 45, 46, 48, 49, 50, 52, 53, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 88, 89, 90, 91, 92, 93, 94, 95, 97, 98, 99, 100, 101, 102, 104, 106, 108, 109, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 188, 189, 190, 191, 192, 193, 194, 196, 197, 198, 199, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 213, 214, 215, 216, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 233, 234, 236, 237, 238, 240, 241, 242, 243, 245, 246, 247, 248, 249])

In [26]:
list_of_tickers[2]

array(['ADEP', 'ADBE', 'ADTN', 'ADES', 'AEIS', 'AMD', '2311', '6857',
       'ACM', 'AEGN'], dtype=object)

In [44]:
bad_responses_retry_good = {}
bad_responses_retry_bad = {}
for i, response in bad_responses.items():
    print(i)
    tickers = list_of_tickers[i]
    for ticker in tickers:
        new_response = look_up_company_by_tickers([ticker])
        if new_response.status_code == 200:
            bad_responses_retry_good[ticker] = new_response
        else:
            bad_responses_retry_bad[ticker] = new_response

2
11
19
22
34
41
44
45
46
48
49
50
52
53
56
57
58
59
60
62
63
64
65
66
67
68
69
70
71
73
75
76
78
79
80
81
82
83
84
85
88
89
90
91
92
93
94
95
97
98
99
100
101
102
104
106
108
109
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
188
189
190
191
192
193
194
196
197
198
199
201
202
203
204
205
206
207
208
209
210
213
214
215
216
218
219
220
221
222
223
224
225
226
227
228
229
230
231
233
234
236
237
238
240
241
242
243
245
246
247
248
249

In [45]:
len(bad_responses_retry_good)

1391

In [50]:
len(bad_responses_retry_bad)

449

In [51]:
cleaned_ciks_2 = pd.DataFrame()
for i, response in bad_responses_retry_good.items():
    if response.status_code == 200:
        for row in response.json()['result']['rows']:
            fields = {}
            for field in row['values']:
                fields[field['field']] = field['value']
            cleaned_ciks_2 = pd.concat([cleaned_ciks_2, pd.DataFrame([fields])], ignore_index=True)
cleaned_ciks_2.tail()

,cik,companyname,entityid,primaryexchange,primarysymbol,siccode,sicdescription
1008,0000060667,LOWES COMPANIES INC,5395,NYSE,LOW,5211,Lumber and Other Building Materials Dealers
1009,0001624899,STERIS PLC,950898,NYSE,STE,3842,"Orthopedic, Prosthetic, and Surgical Appliance..."
1010,0000101984,UNIVERSAL ELECTRONICS INC,10978,Nasdaq Global Market,UEIC,3651,Household Audio and Video Equipment
1011,0000911971,TEEKAY CORP,5342,NYSE,TK,4412,Deep Sea Foreign Transportation of Freight
1012,0000797721,VIASAT INC,8817,Nasdaq Global Market,VSAT,3663,Radio and Television Broadcasting and Communic...

In [53]:
cleaned_ciks_2.to_csv('clean_ciks_good_2.csv')

In [54]:
len(cleaned_ciks_2)

1013

In [55]:
len(cleaned_ciks)

559

In [59]:
bad_responses_retry_bad.keys()

dict_keys(['669', '6286', '6857', '6752', '500209', '6473', '7701', '3045', 'BC8', '175', '1114', '2311', '2371', '838', '6702', '2727', 'G1A', '1999', '7731', '6302', 'A017670', '1169', '6762', 'A060980', '7752', '601607', '6724', '4543', '5347', '2317', '9914', '6728', '7240', 'S51', '6902', 'TOM2', '2238', '659', '532667', '566', '6925', '2018', 'S92', 'A005930', 'A097230', 'FI-N', '3360', '7751', '3008', '200581', 'A003600', '2384', '8036', '2323', 'A010120', 'A005490', '7741', 'O1BC', '6268', '2412', '981', '6971', 'ELI1V', '6134', '148', 'HUSQ B', '2448', '8130', 'ODPV3', '552', 'A042670', '1504', '7201', '1402', 'O2D', '7735', '2474', 'EKTA B', '6141', '631', '1882', 'GGBR4', '941', '500049', '2201', 'Z74', 'F83', '2498', 'A035420', 'MMCCORP', '700', 'ASETEK', '507685', 'PS4', '500570', '532540', '2308', '6481', 'U96', '4307', '8', '6839', 'MTELEKOM', '6845', 'WRT1V', '2324', 'A032640', '267', '2204', '5947', '8299', '6504', '7762', '6954', '1133', '317', '6770', 'A011070', '2347', '6448', 'V03', '5334', '4902', '8086', '532712', '6758', '6465', 'PAH3', '2325', 'A006400', '2330', '7267', '992', '7248', 'A042660', 'POMO4', 'A010620', '2395', '1507', '3702', '4904', 'NDX1', '5631', '3231', 'VOLV B', '500182', '6201', 'BIONORO', 'RICH-N-0000', '5483', '7832', '5991', 'A066570', 'A011210', '6457', '4704', '9432', '2451', '5214', 'A011810', '6301', '1590', '002202', '500295', '500483', '3673', '3658', '6239', '500477', 'A161390', '6806', 'A034220', '2784', '7012', 'A030200', '6952', 'GETI B', '7262', 'QUAL3', 'A009150', '9697', '2413', '4716', '1072', '1893', '7278', '508869', '7013', '900909', '7242', '2362', '6869', '8035', '7459', '7205', '534816', '7222', '868', 'A003550', '6305', 'GCARSO A1', '6326', '600050', '5803', '6965', '6586', '3481', 'BS6', '7211', 'ALFA A', '7733', '6923', 'MEDICA B', '6412', '6273', '3899', '532977', '531209', '3632', '2352', 'SKF B', '215', '303', '6841', '6116', 'HEXA B', 'CIEL3', 'TREL B', '3561', 'AMX L', '179', 'ADVANC', '1211', '4684', '7716', '6222', '6176', 'OIBR4', 'ZIL2', '3044', '7203', '7272', '532755', 'NOVO B', '500002', '2105', 'A000150', '6502', '6121', '900925', '3037', '532532', 'INTUCH', 'BN4', '658', '3800', '6976', '2038', '5802', '200550', '9984', '8046', '5101', '500550', '2393', '7270', '6861', '6146', '6674', '6981', '6479', 'AXIATA', '3808', 'INCKEN', '7269', '762', '7202', 'CC3', '500093', 'BJCORP', 'TEL2 B', '489', '7011', '3659', '1099', '9684', '1101', '200625', '9921', '2454', 'J36', '7312', '500520', '7261', '532454', '6963', 'KU2', '000039', 'VIVT4', '2101', '8591', '7974', '6723', 'A000660', 'ATCO A', '9987', '532822', '2313', '2357', 'F99', '3339', '3474', '6103', 'A000270', '2337', '1296', '5371', 'A021240', '3116', '6503', '9433', '6967', '6506', '3682', '3105', '9045', '4938', 'A009540', '3622', 'A034730', '6244', '3034', '522', '200541', '392', '5108', 'A181710', '2432', '9766', '3765', '200725', '1605', '4689', 'NOK1V', '7259', '2301', '2354', 'A047810', '2385', '526299', '5110', '13', '6823', 'NRE1V', '4739', '6588', 'VOW3', '5801', '6113', '2382', '6767', '2356', 'S63', '532500', '696', '601766', 'WEGE3', 'ERIC B', '532281', '728', '500103', '4901', '363', '2379', '6701', '4768', 'TOTS3', '2303', 'M5Z', 'J37', '6594', 'A005380', '2344', '6370', 'VAC1V', '6645', '5191', 'ORIENT', '6417', '4062', '2409', '6361', '7276', '6501', '6753', '900947', '2333', 'TIMP3', '6581', '9719', 'DASA3', 'A018880', '6592', '3436', 'A012330', '3532', '6472', 'A001040', 'A012450', 'B2F', 'ELUX B', '7951', '2338', '7309', '2392', '1066', 'DRW3', 'A035720', '6754', '9437', '7282', '7003', '6460', '3189', '6995', '5333', '590057', 'A010140', 'CLS1', '242', '1888', '3576', 'A036570', 'COLO B', '4544', '500480', '532466', 'MEO1V', '2049', '425', '500493', '6471', '517334', 'A006260', '8069', '2327', '500086', '9613', 'SUPREMEIND'])

In [66]:
bad_responses = pd.DataFrame()
for k, response in bad_responses_retry_bad.items():
    fields = dict(
        bad_id = k,
        code = response.status_code,
        response_json = response.json(),
    )
    bad_responses = pd.concat([bad_responses, pd.DataFrame([fields])], ignore_index=True)
bad_responses.tail()

         bad_id  code                                      response_json
444        8069   400  {'Message': 'Parameter 'primarysymbols' has in...
445        2327   400  {'Message': 'Parameter 'primarysymbols' has in...
446      500086   400  {'Message': 'Parameter 'primarysymbols' has in...
447        9613   400  {'Message': 'Parameter 'primarysymbols' has in...
448  SUPREMEIND   400  {'Message': 'Parameter 'primarysymbols' has in...

In [68]:
bad_responses.to_csv('bad_responses.csv')