Data from https://catalog.data.gov/dataset/number-of-edgar-filings-by-form-type

Downloaded Sep 2, 2019

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('data/filings_type_year_0319.csv')
df.head()

   Year     Type  Count
0  2019      1-A     45
1  2019  1-A POS     36
2  2019    1-A-W     10
3  2019    1-A/A     77
4  2019      1-K      9

In [15]:
df[df.Type.str.contains('SD')].Type.unique()

array(['MSDW', 'SD', 'MSD/A', 'SD/A', 'SDR/A', 'MSD', 'SDR', 'MSDCO'],
      dtype=object)

In [13]:
df[df.Type == 'SD']

      Year Type  Count
299   2019   SD      9
688   2018   SD   1115
1085  2017   SD   1158
1489  2016   SD   1220
1867  2015   SD   1273
2225  2014   SD   1320

In [14]:
df[df.Type == 'SD/A']

      Year  Type  Count
689   2018  SD/A      4
1086  2017  SD/A      4
1490  2016  SD/A      3
1868  2015  SD/A      2
2226  2014  SD/A      9